<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.kim.bloom.mapper.BookMapper">
  
  	<!-- criteria 검색조건 -->
  	<sql id="criteria">
  		<!-- <if test="keyword != null">
  			where (bookName like concat ('%', #{keyword}, '%'))
  		</if>
  		 -->
  		<trim prefix="where (" suffix=")" prefixOverrides="AND">
  			<foreach item="type" collection="typeArr">
  				<trim prefix="AND">
  					<choose>
  						<when test="type == 'A'.toString()">
  							<trim prefixOverrides="or">
  								<foreach item="authorId" collection="authorArr">
  									<trim prefix="or">
  										a.authorId = #{authorId}
  									</trim>
  								</foreach>
  							</trim>
  						</when>
  						
  						<when test="type == 'C'.toString()">
  							a.cateCode like concat ('%', #{cateCode}, '%')
  						</when>
  						
  						<when test="type == 'T'.toString()">
  							bookName like concat ('%', #{keyword}, '%')
  						</when>
  					</choose>
  				</trim>
  			</foreach>
  		</trim>
  		
  	</sql>
  	
  	<!--상품 검색-->
  	<select id="getGoodsList" resultType="com.kim.bloom.model.BookVO">
  		select  bookId, bookName, b.authorName, a.authorId, c.cateName, a.cateCode, publisher, publicYear, bookPrice, bookDiscount
		from bloom_book a left outer join bloom_author b on a.authorId = b.authorId
		left outer join bloom_bcate c on a.cateCode = c.cateCode
		<include refid="criteria"></include>
		order by bookId desc 
		limit #{skip}, #{amount}
  	</select>
  	
  	<!-- 상품 총 개수 -->
  	<select id="goodsGetTotal" resultType="int">
  		select count(*) from bloom_book a
  	</select>
  	
  	<select id="getAuthorIdList" resultType="String">
  		select authorId from bloom_author where authorName like concat ('%',#{keyword},'%')
  	</select>
  	
  </mapper>