<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.kim.bloom.BookMapper">
  	<!-- criteria 검색조건 -->
  	
  	<sql id="criteria">
  		<if test="keyword != null">
  			
  		</if>
  	</sql>
  </mapper>